.*
!.gitignore

env.php
debug/
/tests/**/npm/

composer.lock
/vendor/

/tests/S5/IO/files/
/tests/S5/StaticCache/files/
/tests/S5/Assets/**/min/
/tests/S5/Assets/Assetic/files/db.php
/tests/S5/TasksManager/files/
