.tasks {}

.tasks__pager {display:flex;}
.tasks__pager-item {width:20px;}
.tasks__pager-numbers {display:flex;}
.tasks__pager-number {border-right:1px solid #ccc;}
.tasks__pager-active {}
.tasks__pager-first {}
.tasks__pager-prev {}
.tasks__pager-next {}
.tasks__pager-last {}

.tasks__list {border-collapse:collapse; width:100%;}

.tasks__list th,
.tasks__list td {padding:5px 10px; border:1px solid #ccc; text-align:left; vertical-align:top;}
.tasks__list th {}

.tasks__item {}
.tasks__item-name     {width:300px;}
.tasks__item-progress {width:200px;}
.tasks__item-log      {padding:0 0 0 10px;}

.tasks__id {font-size:14px; color:#777;}

.tasks__progress-bar     {overflow:hidden; height:20px; border-radius:4px; border:1px solid #ccc;}
.tasks__progress-crawler {height:100%; background:green; transition:width 0.1s linear;}

.tasks__progress-info {}
.tasks__progress-percent {}
.tasks__progress-percent-value {}

.tasks__time-left {}
.tasks__time-left-value {}

.tasks__state {}

.tasks__log {overflow:auto; height:200px; resize:both; font-size:14px; line-height:100%;}
.tasks__log-item {}

.tasks__new {}
.tasks__running {color:blue;}
.tasks__paused  {color:#888;}
.tasks__error   {color:red;}
.tasks__done    {color:green;}

.tasks__ok      {color:green;}
.tasks__info    {color:blue;}
.tasks__warning {color:orange;}
.tasks__error   {color:red;}
